.button-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-primary {
  background: rgb(98, 0, 218);
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  color: white;
  font-size: 30px;
  font-weight: 400;
  cursor: pointer;
}

.button-primary:hover {
  box-shadow: 5px 5px 5px black;
  
}

.button-primary:active {
  outline: none;
  filter: brightness(60%);
}

.button-primary:focus {
  outline: none;
  
}